@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Nunito+Sans:opsz@6..12&display=swap');

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}


/* Bootstrap CSS */
html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
  font: inherit;
}

a:focus {
  outline: none;
  box-shadow: none;
}

img {
  border: 0;
  vertical-align: middle;
  object-fit: cover;
  width: 100%;
}

ul,
li {
  list-style: none;
}

b,
strong {
  font-weight: normal;
}

em,
i {
  font-style: normal !important;
}

input,
textarea,
select,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font: inherit;
}

input[type="submit"] {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input:focus::placeholder {
  opacity: 1;
  color: inherit;
  font: inherit;
}

::placeholder {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

main {
  min-height: calc(100vh - 190px);
}

/* Grid */
.container,
.container-fluid {
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.clearfix:after,
.clearfix:before,
.row:after,
.row:before {
  content: " ";
  display: table;
}

.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
  clear: both;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

@media (min-width: 768px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 600px) {

  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-push-6 {
    left: 50%;
  }
}

@media (min-width: 900px) {

  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .left-content {
    width: calc(100% - 320px);
  }

  .right-content {
    width: 320px;
  }

  .col-md-pull-5 {
    right: 41.66666667%;
  }

  .col-md-push-7 {
    left: 58.33333333%;
  }
}

@media (min-width: 1200px) {

  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }
}

/* Bootstrap CSS */

body {
  font-family: 'Nunito Sans', sans-serif;
}

.hero-banner {
  position: relative;
  overflow: hidden;
  height: 85vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-section {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
}

.logo-container .h-logo {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list .item-list {
  color: #fff;
  margin: 0 20px;
}

.fade-logo {
  color: #BFBEBE;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product-section {
  padding: 30px 0;
  width: 100%;
  display: flex;
}

.product-card {
  margin: 0 0 40px 0;

}



.product-desc h2 {
  font-family: Noto Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #131414;
}

.product-desc span {
  color: #5A112B;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.product-image {
  margin: 0 0 10px 0;
  width: 300px;
  height: 400px;
  display: block;
  position: relative;
}



.main-product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paginationNumber {
  margin: 0 20px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.activePagination {
  background-color: #D9D9D9;
  width: 32px;
  height: 32px;
  border-radius: 50%;

}

.Image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all .5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.product-card:hover .Image-overlay {
  opacity: 0.8;
  cursor: pointer;
}

.hero-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 0 0 70px;
}

.hero-content h1 {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.hero-content span {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0 0 18px 0;
}

.hero-content button {
  border-radius: 10px;
  background: #CA4022;
  width: 199px;
  height: 47px;
  color: #fff;
}

.filter-container .filter-title {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.filter-container .item-list {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filter-list-one {
  margin: 30px 0;
}

.footer-container {
  background-color: #000;
  padding: 50px;
}

.footer-container .nav-list .item-list {
  margin: 0 0 5px 0;
}

.footer-container .nav-list {
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-middle-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-right {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.footer-container img {
  object-fit: none;
}